<div class="w-full relative">
    <img
        class="absolute top-10 z-10 w-[1000px] left-0 right-0 m-auto"
        alt="Esland - Premios a la comunidad hispanohablante del Streaming."
        src="/logo-home.svg"
    />
    <video
        class="w-full h-auto object-cover object-top animate-ease-out animate-fade animate-duration-1000"
        src="/video.webm"
        autoplay
        loop
        muted
        style="clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 50% 100%, 0 85%);"
    ></video>
    <video
        class="absolute w-full h-full object-cover object-bottom -bottom-48 blur-3xl -z-40"
        src="/video.webm"
        autoplay
        loop
        muted
    ></video>
</div>
